<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tenis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-primary">
      <a class="navbar-brand" href="#">
        <img src="/static/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Julex Shoes
      </a>
    </nav>
  </header>
  <main>
    <div class="card mb-3">
      <img src="/static/img/images.jpg" class="card-img-top" alt="...">
      <br>
      <h3>Nos especializamos en venta de tenis de calidad</h3>
      <div class="card-body">
      </div>
    </div>
    <div class="bg-dark">
    <div class="card-deck">
      <div class="card">
        <img src="/static/img/imagen1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE</h5>
          <p class="card-text">tenis nike color blanco, logo azul nueva generacio a $255000</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/imagen2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LACOSTE</h5>
          <p class="card-text">zapatos estilo clasicos de color negro de lacoste a $300000 </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/imagen3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LACOSTE</h5>
          <p class="card-text">tenis lacoste blancos con negros estilo clasico a $150000</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img src="/static/img/imagen4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE</h5>
          <p class="card-text">tenis nike and jordan´s super economios $600000 </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/imagen5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">tenis deportivos adidas negros a $20000</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/imagen6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE</h5>
          <p class="card-text">tenis gris-platino con zuela blanca y ventilacion a $340000</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  </main>
  <footer>
    <div class=" bg-primary text-center ">
      <br>
      <h2>Creadores</h2>
      <h4>Julio Cesar Jimenes Garcia</h4>
      <h4>Eduardo Alexis Ceballos Quintana</h4>
      <h2>Contactos</h2>
      <h4>juliojimenegarcia@gmail.com</h4>
      <h4>e.alexisceballos@gmail.com</h4>
      <br>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>